<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>FruitLib Form</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the fields below for a wacky and hilaaarious story</h1>
    <form action="/Madlibber" method="post"> 
     <label for="Word1">Past Tense Verb</label>
     <input id="Word1" name="Word1" type="text">
     <label for="Word2">Adjective</label>
     <input id="Word2" name="Word2" type="text">
     <label for="Word3">Noun</label>
     <input id="Word3" name="Word3" type="text">
     <label for="Word4">Verb</label>
     <input id="Word4" name="Word4" type="text">

     <button type="submit">FruitLib Me!</button>
    </form>
  </body>
</html>