
<h1>FruitLibs</h1>
<br>
<p>The Blood-Oranges and the Honey-Crips had a history. Each day they @Model.Word1_PastTenseVerb eachother.</p>
<p>During their daily ritual, they saw a @Model.Word2_Adjective,  
    @Model.Word3_Noun</p>
<p>Now they @Model.Word4_Verb with each other every day.</p>
<p> </p>

