
<h1>FruitLibs</h1>
<br>
<p>The Blood-Oranges and the Honey-Crips had a history. Each day they @Model.Word1 eachother.</p>
<p>During their daily ritual, they saw a @Model.Word2,  
    @Model.Word3</p>
<p>Now they @Model.Word4 with each other every day.</p>
<p> </p>

